<html>
  <body>
    <form method="POST" action="/new">
      <h1>New Message</h1>
      <input placeholder="author" name="messageUser" type="text" />
      <input placeholder="message" name="messageText" type="text" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
