<html>
<head>
    <title>Message Board</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1><%= title %></h1>
    <a href="/new">New Message</a>
    <ul>
        <% messages.forEach((message) => { %>
            <li>
                <p class="user"><%= message.author %></p>
                <p class="text"><%= message.message %></p>
                <p class="added"><%= new Date() %></p>
            </li>
        <% }); %>
    </ul>
</body>
</html>